# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GI455_UnityProject.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Works\GI455 Networking\GI455_Git\GI455_1610700799\GI455_UnityProject\.idea\.idea.GI455_UnityProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
